header {
    width: 100%;
    height: auto;
    background-color: #F2D8DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

/*.navbar nav {
    width: 100%;
    min-width: 100%;
    height: auto;
    position: relative;
}*/

.brand-image {
    width: max(100px, 18vw);
}